@use '../../styles/variables' as *;

.loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: $white;

    &__gif {
        width: 120px;
        height: 120px;
    }

    &__text {
        margin-top: $spacing-3;
        font-size: $text-sm;
        color: $gray-400;
    }
}