// @use '../styles/variables' as *;
/* Custom Tab Bar Styles */

.tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    /* 50px content + padding */
    background: $surface;
    display: flex;
    padding-bottom: env(safe-area-inset-bottom);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.05);
    z-index: 9999;

    &__item {
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &--active {
            .tab-bar__label {
                color: $primary;
                font-weight: 600;
            }

            .tab-bar__icon {
                color: $primary;
            }
        }
    }

    &__icon {
        font-size: 24px;
        margin-bottom: 4px;
        width: 24px;
        height: 24px;
        /* Placeholder if iconfont is missing */
        background-color: #eee;
        border-radius: 4px;

        /* If iconfont loads, remove background */
        &.iconfont {
            background-color: transparent;
        }
    }

    &__label {
        font-size: 10px;
        color: $text-light;
    }
}